<%- include('parts/search'); %>
<% data.posts.forEach((post) => { %>
  <div class="post-item post-item-front">
    <a href="/posts/<%= post.slug %>" class="post-link">
      <h2 class="post-title"><%= post.title %></h2>
      <span class="post-date"><%= post.postDate %></span>
      <p><%= post.summary %></p>
    </a>
  </div>
<% }) %>
<a href="/posts">Older Posts</a>
