<%
  let metaSummary = false;
  let metaTitle = title;
   if (!page) { page = 'index'; }
   if (!title) { title = 'Home'; }
   if (title === 'Home') {
       metaTitle = false;
   }
   if (!slug) { slug = ''; }

   if (!summary) {
       metaSummary = false
   } else {
       metaSummary = summary;
  }
%>
<!doctype html>
<html>
  <head>
    <%- include('parts/meta', { title, metaTitle, slug, metaSummary }); %>
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <% if (title == 'Home' || title == 'About') { %>
        <%- include('parts/home-header'); %>
      <% } else { %>
        <%- include('parts/header'); %>
      <% } %>
      <div class="box">
      <% if (data) { %>
        <%- include(`${page}`, data); %>
      <% } else { %>
        <%- include(`${page}`); %>
      <% } %>
      </div>
    </div>

    <%- include('parts/footer'); %>
  </body>
</html>
