<h1 class="tag-title"><%= title %> (<%= data.posts.length %>)</h1>
<div class="tags">
<ul class="archive">
<% data.posts.forEach((post) => { %>
   <li class="post-item post-item-front">
    <a href="/posts/<%= post.slug %>" class="post-link">
      <span class="post-title"><%= post.title %></span>
    </a>
    -
    <span class="post-date"><%= post.date %></span>
  </li>
<% }) %>
</ul>
</div>
<a href="/">Back to latest</a>
