<% const stateTitle = state === 'edit' ? 'Edit Post' : 'New Post';  %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
        <title><%=stateTitle%></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <style>
          .CodeMirror, .CodeMirror-scroll {
            max-height: 50%;
          }
        </style>
    </head>
    <body>
        <h2><%=stateTitle%></h2>
          <form action="/update-post" method="post">
            <div>
              <label for="title">Title</label>
              <div>
                  <input type="text" name="title" id="title" value="<%=post.title%>" />
              </div>
              <label for="message">Post (markdown)</label>
              <div>
                  <textarea id="message" name="message"><%=body%></textarea>
              </div>
              <div>
                <label for="title">Summary</label>
                <div>
                    <input type="text" name="summary" id="summary" value="<%=post.summary%>" />
                </div>
                <label for="title">Tags</label>
                <div>
                    <input type="text" name="tags" id="tags" value="<%=post.tags%>"/>
                </div>
                <div>
                    <label for="title">Type</label>
                    <select name="type" id="type"><option value="both">Both</option><option>Blog Post</option><option value="micro">Micro</option></select>
                </div>
                <div>
                    <label for="title">Status</label>
                    <select name="status" id="status"><option value="draft">Draft</option><option value="published">Published</option></select>
                </div>
                <div>
                  <input type="submit" value="Save">
                </div>
              </div>
                <input type="hidden" name="oldTitle" id="oldTitle" value="<%=post.title%>" />
                <input type="hidden" name="createDate" id="createDate" value="<%=post.createDate%>" />
            </div>
        </form>
        <script src="static/bundle.js"></script>
    </body>
</html>
