<%
   if (!page) { page = 'index'; }
   if (!title) { title = 'home'; }
%>
<!doctype html>
<html>
  <head>
  <%- include('parts/meta', {title}); %>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <%- include('parts/header'); %>

    <% if (data) { %>
      <%- include(`${page}`, data); %>
    <% } else { %>
      <%- include(`${page}`); %>
    <% } %>

      <%- include('parts/footer'); %>
  </body>
</html>
