<%
   if (!page) { page = 'index'; }
   if (!title) { title = 'home'; }
%>
<!doctype html>
<html>
  <head>
<%- include('parts/meta', {title}); %>
  </head>
  <body>
    <%- include('parts/header'); %>

    <% if (data) { %>
      <%- include(`${page}`, data); %>
    <% } else { %>
      <%- include(`${page}`); %>
    <% } %>

    <%- include('parts/footer'); %>
  </body>
</html>
